@font-face {
/*
  font-family: 'Prompt-Regular';
  src: url('../fonts/Prompt-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Prompt-Regular.woff') format('woff'), url('../fonts/Prompt-Regular.ttf')  format('truetype'), url('../fonts/Prompt-Regular.svg#Prompt-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
*/
	
/*
	font-family: 'Conv_SukhumvitSet-Text';
	src: url('../fonts/SukhumvitSet-Text.eot');
	src: local('☺'), url('../fonts/SukhumvitSet-Text.woff') format('woff'), url('../fonts/SukhumvitSet-Text.ttf') format('truetype'), url('../fonts/SukhumvitSet-Text.svg') format('svg');
	font-weight: normal;
	font-style: normal;
*/

 	font-family: 'Sarabun-Regular';
	src: url('../fonts/Sarabun-Regular.eot');
	src: local('☺'), url('../fonts/Sarabun-Regular.woff') format('woff'), url('../fonts/Sarabun-Regular.ttf') format('truetype'), url('../fonts/Sarabun-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html{ font-size:62.5%;}
body{ font-size: var(--font16); font-family: 'Sarabun-Regular'; font-weight: normal; font-style: normal; color: var(--color-black); 
	overflow-x: hidden;}
a, button{ transition: all 0.5s ease-in-out; text-decoration: none; cursor: pointer; outline: none; position: relative; z-index: 1;}
a::before, button::before{ content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
	opacity: 0; transition: opacity 0.5s; z-index: -1;}
img { max-width: 100%; width: auto; outline: none; height: auto !important;}
figure{ margin: 0;}
p{ margin: 0;}
h1, h2, h3, h4, h5, h6{ margin-top: 0; line-height: 1.4; font-weight: normal; margin-bottom: 0; white-space: initial;}
label.cursor-pointer{ font-weight: 100; cursor: pointer;}
.tooltip { font-size: var(--font14);}
.pointer{ cursor: pointer;}
.text-align-center{ text-align: center;}

@media (min-width: 1200px){
	.container{ max-width: 1280px;}
}

/*sweet alert*/
.swal2-popup{ font-size: 1.6rem !important; border-radius: 10px !important;}
.swal2-styled.swal2-confirm{ background: var(--color-gradient-violet) !important;}
.swal2-styled.swal2-cancel{ background: var(--color-white) !important; color: var(--color-violet) !important; 
	border: 1px solid var(--color-violet) !important;}
.swal2-actions:not(.swal2-loading) .swal2-styled:hover{ background: var(--color-gradient-violeted) !important; color: var(--color-white) !important;}
.swal2-styled:focus{ box-shadow: 0 0 0 0 transparent, 0 0 0 0 rgba(0, 0, 0, 0) !important;}
 
/*backTOtop*/
.cd-top { display: inline-block; height: 40px; width: 40px; position: fixed; bottom: 40px; right: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  overflow: hidden; text-indent: 100%; white-space: nowrap; background: rgba(232, 98, 86, 0.8) url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden; opacity: 0; -webkit-transition: opacity .3s 0s, visibility 0s .3s; -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s; z-index: 99999;}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover { -webkit-transition: opacity .3s 0s, visibility 0s 0s; 
	-moz-transition: opacity .3s 0s, visibility 0s 0s; transition: opacity .3s 0s, visibility 0s 0s;}
.cd-top.cd-is-visible { /* the button becomes visible */ visibility: visible; opacity: 1;}
.cd-top.cd-fade-out { opacity: 1}
.no-touch .cd-top:hover { background-color: #e86256; opacity: 1;}

@media only screen and (min-width: 768px) {
  .cd-top { right: 20px; bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top { height: 60px; width: 60px; right: 30px; bottom: 30px;}
}

/*เมนู*/
.bg-menu{ background: var(--color-white); padding: 10px 0; height: auto; z-index: 99; box-shadow: 1px 3px 15px var(--color-light-gray);}
#menu{ position:fixed; background-color: var(--color-violet); height:100%; z-index:999; width:280px; color:var(--color-white); top:0;
	transition: all 0.3s ease; opacity:1; cursor: pointer;}
#menu ul{ list-style:none; margin-top:0; padding:0;}
#menu>ul>li>a{ border-left:4px solid var(--color-violet);}
#menu ul li a{ color:inherit; font-size: 1.6rem; display:block; padding:8px 0 8px 7px; text-decoration:none;
	transition: all 0.3s ease; font-weight: normal;}
#menu ul a i{ margin-right:10px; font-size: 18px; margin-top: 3px; width: 20px;}
#menu ul a i[class*='fa-caret']{float: right;}
#menu ul a:hover,#menu ul a.active{ background-color:var(--color-violet-dark); border-left-color: var(--color-pink); color:var(--color-white);}
#menu ul a:hover i:first-child{ color:var(--color-white);}

/* ส่วนของ dropdown Submenu */
#menu ul li a.active+ul{display:block}
#menu ul li ul{margin-top: 0;display: none;}
#menu ul li ul li{border-bottom: none;}
#menu ul li ul li a{padding-left: 30px;}
#menu ul li ul li a:hover{ background-color:var(--color-violet-dark);}

.left{left:-280px;}
.show{left:0;}

#showmenu{ margin-left:100%; position:absolute; top: 15px; padding:0 10px; font-size:2em; color:var(--color-violet);
	transition: all 0.3s ease; background: var(--color-white); border-radius: 4px;}
/*#container{padding: 50px;}*/
.lang-mobile{ display: none;}

@media (max-width: 767px){
	.lang-mobile{ display: block;}
}

@media (max-width: 576px){
	#menu ul{ height: 100%; overflow-y: scroll;}
}

@media (max-width: 480px){
	#showmenu{ top: 0;}
}

.flexLogoLang{ display: flex; align-items: center; justify-content: space-between;}

/*logo orchid*/
.logo-orchid{ margin-left: 35px;}
.logo-orchid img{ max-width: 170px;}

@media (max-width: 768px){
	.logo-orchid img{ max-width: 130px;}
}

@media (max-width: 480px){
	.flexLogoLang{ flex-direction: column;}
}

/*ลงทะเบียน ล็อคอิน ภาษา*/
.login-lang{ position: relative;}

@media (max-width: 480px){
	.login-lang{ width: 100%;}
}

/*ลงทะเบียน ล็อคอิน*/
.login-orchid{ float: left; padding: 12px 0; border-radius: 10px; margin-right: 5px; position: relative;}
.login-orchid ul.nav{ display: block; margin: 0 5px; padding: 0;}
.login-orchid ul.nav li{ float:left; list-style: none; border-right: 1px solid var(--color-light-gray); padding: 0 5px;}
.login-orchid ul.nav li.border-right-0{ border-right: 0;}
.login-orchid ul.nav .button-dropdown{ position: relative;}
.login-orchid ul.nav li a{ display: block; color: var(--color-black); padding: 5px; text-decoration: none; border-radius: 4px;}
.login-orchid ul.nav li a.active{ background: var(--color-gradient-violet); color: var(--color-white);}
.login-orchid ul.nav li a span{ float: left; margin-left: 5px; font-size: 14px; color: var(--color-black);}
.login-orchid ul.nav li a:hover, .login-orchid ul.nav li a.dropdown-toggle.active { background: var(--color-gradient-violet); color: var(--color-white);}
.login-orchid ul.nav li a:hover span, .login-orchid ul.nav li a.dropdown-toggle.active span { color: var(--color-white);}
.login-orchid ul.nav li .dropdown-menu{ display: none; position: absolute; left: -100px; right: 0; padding: 0; margin: 3px 5px 0 0; text-align: left;}
.login-orchid ul.nav li .dropdown-menu.active{ display: block;}
.login-orchid ul.nav li .dropdown-menu li{ border-right: 0; padding: 0; width: 100%;}
.login-orchid ul.nav li .dropdown-menu a{ width: 100%; font-size: var(--font16); border-radius: 0;}
.login-orchid ul.nav li .dropdown-menu a:hover{ background: var(--color-lighten-gray); color: var(--color-black);}

@media (max-width: 768px){
	.login-orchid{ margin-right: 0;}
}

@media (max-width: 576px){
	.login-orchid ul.nav li.resume-respon{ display: none;}
}

@media (max-width: 480px){
	.login-orchid{ width: 100%; text-align: center; padding-bottom: 0;}
	.login-orchid ul.nav{ display: inline-block; width: 100%;}
	.login-orchid ul.nav li{ width: 50%;}
	.login-orchid ul.nav li .dropdown-menu-left{ left: 0; right: -100px; margin: 3px 0 0 5px;}
	.login-orchid ul.nav li .dropdown-menu li{ width: 100%;}
}

/*ดรอปดาวเปลี่ยนภาษา*/
*, *:after, *:before { box-sizing: border-box;}
.wrapper-dropdown-5 { position: relative; width: 150px; margin: 0; padding: 15px; background: var(--color-white); border-radius: 10px; 
	/*  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);*/ cursor: pointer; outline: none; transition: all 0.3s ease-out; float: left;}
.wrapper-dropdown-5:after { /* Little arrow */ content: ""; width: 0; height: 0; position: absolute; top: 50%; right: 15px; margin-top: -3px; border-width: 6px 6px 0 6px;
  border-style: solid; border-color: var(--color-violet) transparent;}
.wrapper-dropdown-5 .dropdown { position: absolute; top: 100%; left: 0; right: 0; background: var(--color-white); 
	border-radius: 0 0 5px 5px; border: 1px solid rgba(0, 0, 0, 0.2);
  	border-top: none; border-bottom: none; list-style: none; transition: all 0.3s ease-out; max-height: 0; overflow: hidden;}
.wrapper-dropdown-5 .dropdown li { padding: 0;}
.wrapper-dropdown-5 .dropdown li a { display: block; text-decoration: none; color: var(--color-black); padding: 10px; 
	transition: all 0.3s ease-out; border-bottom: 1px solid #e6e8ea;}
.wrapper-dropdown-5 .dropdown li a.active{ background: var(--color-lighten-gray); color: var(--color-black);}
.wrapper-dropdown-5 .dropdown li:last-of-type a { border: none;}
.wrapper-dropdown-5 .dropdown li i { margin-right: 5px; color: inherit; vertical-align: middle;}

/* Hover state */
.wrapper-dropdown-5 .dropdown li:hover a { color: var(--color-black); background: var(--color-lighten-gray);}

/* Active state */
.wrapper-dropdown-5.active { border-radius: 5px 5px 0 0; background: var(--color-gradient-violet); box-shadow: none; 
	border-bottom: none; color: var(--color-white);}
.wrapper-dropdown-5.active:after { border-color: var(--color-white) transparent;}
.wrapper-dropdown-5.active .dropdown { border-bottom: 1px solid rgba(0, 0, 0, 0.2); max-height: 400px; padding: 0;}

img.flag-lang{ max-width: 35px; border: 1px solid var(--color-white);}

@media (max-width: 767px){
	.wrapper-dropdown-5{ display: none;}
}

@media (max-width: 991px){
	.marginCal{ margin: 0 calc(-50vw + 50%);}
}

/*แบนเนอใหญ่*/
.bg-img-main{ background: url(../images/OhmBannerHome.jpg) top center no-repeat; background-size: cover; 
	max-height: 100vh; margin-top: 70px; background-position: 100% 0;}
.head-text{ font-size: var(--font40Head); color: var(--color-violet); margin-top: 50px; text-align: right; list-style: none; line-height: 1; margin-bottom: 20px;}
.sub-text{ font-size: var(--font20); text-align: right;}

@media(max-width:991px){
	.bg-img-main{ background-position: 50% 0;}
	.sub-text, .head-text{ text-align: left;}
}

@media (max-width: 768px){
	.bg-img-main{ background-position: 10% 0;}
}

@media (max-width: 480px){
	.sub-text{ font-size: var(--font14);}
	.bg-img-main{ margin-top: 100px;}
}

/*ปุ่มลงทะเบียนตรงแบนเนอใหญ่*/
.register-orchid{ text-align: center; margin: 30px 0;}
.register-orchid a{ font-size: 3rem; background: var(--color-gradient-violet); color: var(--color-white); 
	padding: 1rem 2rem; border-radius: 50px; text-decoration: none; display: inline-block;}
.register-orchid a::before { border-radius: 50px; background: var(--color-gradient-pink);}
.register-orchid a:hover::before{ opacity: 1;}
.register-orchid a:hover{ transform: scale(1.1);}

@media (max-width: 991px){
	.register-orchid a{ font-size: var(--font20);}
}

/*orchidjobs service*/
.box-service{ margin: 30px 0;}
.bg-service{ background: url(../images/bgservice.jpg) top center no-repeat; background-size: cover; max-height: 100vh;}
.gridService{ display: grid; grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); grid-gap: 15px;}
.head-service{ margin: 40px 0 20px; text-align: center;}
.head-service h2{ font-size: var(--font40Head); color: var(--color-violet);}

@media (max-width: 1199px){
	.bg-service{ min-height: 100vh; max-height: inherit;}
}

@media (max-width: 768px){
	.gridService{ grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));}
}

/*https://codepen.io/nodws/pen/ZpZjpQ*/
.orchid-recruitment{ background: url(../images/ohm-pic-service1.jpg) no-repeat top center; background-size: cover; padding-bottom: 100%;}
.orchid-head-hunter{ background: url(../images/ohm-pic-service2.jpg) no-repeat top center; background-size: cover; padding-bottom: 100%;}
.orchid-outsource{ background: url(../images/ohm-pic-service3.jpg) no-repeat top center; background-size: cover; padding-bottom: 100%;}
.orchid-resume-prompt{ background: url(../images/ohm-pic-service4.jpg) no-repeat top center; background-size: cover; padding-bottom: 100%;}

.blog-card { width:100%; position: relative; color: var(--color-white); margin: 0 auto;
  overflow: hidden; border-radius: 50%; box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5); text-align: center;
  transition:all 0.4s;}
.blog-card a{ color: var(--color-white); text-decoration:none; transition:all 0.2s}
.blog-card .color-overlay {width: 100%; height: 100%; position: absolute; z-index: 10; top: 0; left: 0; transition: 0.3s ease-in-out;}
.blog-card .gradient-overlay{ background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.6) 21%); width: 100%;
  height: 100%; position: absolute; top: 50%; z-index: 15;}

.title-content { position: absolute; z-index: 20; width: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%);
	transition:all 0.5s ease-in-out;}
.title-content img{ max-width: 120px; transition: all 0.5s ease-in-out;}
  
.blog-card h2{ font-size: var(--font24); font-weight: 400; letter-spacing: 1px; margin-bottom: 0; display:inline-block; 
	  color: var(--color-white); text-shadow: 0px 0px 10px rgba(0, 0, 0, 1); transition: 0.5s ease-in-out;}
.blog-card h2:hover{ text-shadow: 0px 8px 20px rgba(0, 0, 0, 0.95);}

.blog-card:hover{ box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75);}
.blog-card:hover .card-info { opacity: 1; bottom: 20px;}
.blog-card:hover .color-overlay { background: rgba(64, 64, 70,0.8);}
.blog-card:hover .title-content{ background: rgba( 0, 0, 0, 0); padding: 0; top: 50%; transform: translate(-50%, -100%);}
.blog-card:hover .title-content img{ max-width: 80px;}

.card-info { box-sizing: border-box; padding: 0; width: 100%; position: absolute; top: 50%; left: 0; margin: 0 auto;
  padding: 0 30px; font-size: var(--font14); z-index: 20; opacity: 0; transition: bottom 0.5s, opacity 0.5s ease-in-out;}
.card-info a{ display: inline-block; margin:5px auto; background: var(--color-violet); color: var(--color-white); padding:3px 10px; 
	border-radius: 50px; font-size: var(--font16);}
.card-info a:hover{ background: var(--color-pink); color: var(--color-white);}
.card-info a:hover span{ filter: brightness(10); opacity:1}

@media (max-width: 768px){	
	/* .blog-card{ overflow: inherit;}
	.blog-card .gradient-overlay{ background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0)0); width: 0; height: 0;}
	.blog-card .color-overlay { width: 0; height: 0;} */
	.title-content, .blog-card .gradient-overlay{ top: 25%;}
	.title-content img, .blog-card:hover .title-content img{ max-width: 70px;}
	.blog-card .card-info { opacity: 1;}
	.blog-card:hover .color-overlay { background: transparent;}
	.blog-card:hover .title-content{ background: transparent;}
}

@media (max-width: 480px){	
	.title-content, .blog-card .gradient-overlay{ top: 35%;}
	.title-content img, .blog-card:hover .title-content img{ max-width: 150px;}
	.card-info{ top: 60%;}
	.card-info a{ font-size: var(--font20);}
}

@media (max-width: 380px){	
	.title-content, .blog-card .gradient-overlay{ top: 25%;}
	.title-content img, .blog-card:hover .title-content img{ max-width: 100px;}
	.card-info{ top: 50%;}
}

/*อ่านต่อ ทั่วไป*/
.read-more{ text-align: center; margin: 30px 0;}
.read-more a{ background: var(--color-gradient-violet); color: var(--color-white); padding: 10px 15px; border-radius: 50px; font-size: var(--font24); 
	text-decoration: none; display: inline-block;}
.read-more a::before{ border-radius: 50px; background: var(--color-gradient-pink);}
.read-more a:hover::before{ opacity: 1;}
.read-more a:hover{ transform: scale(1.1);}

/*ทำไมต้อง orchid แบบรวม*/
.bg-why-orchid::before{ background: linear-gradient(to right, rgba(255,255,255,0.9) 0, rgba(255,255,255,0) 75%); content: '';
	position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.bg-why-orchid{ background: url(../images/ohm-why-choose.jpg) no-repeat top center; background-size: cover; min-height: 100vh;
	position: relative;}
.flexWhy{ display: flex; width: 40%; margin-bottom: 15px;}
.head-why-orchid-dis{ margin: 30px 0; font-size: var(--font40Head); color:var(--color-violet);}

.circle-bg{ background: var(--color-violet); border-radius: 50%; width: 80px; height: 100%; padding: 15px; text-align: center; margin-right: 15px;}
.circle-bg img{ max-width: 50px;}

.sub-why-orchid-dis h2{ font-size: var(--font28);}
.sub-why-orchid-dis h6{ font-size: var(--font20);}

@media (max-width: 991px){
	.bg-why-orchid{ background-position: 0 0;}
	.bg-why-orchid::before{ background: linear-gradient(to right, rgba(255,255,255,1) 0, rgba(255,255,255,0) 100%);}
}

@media (max-width: 768px){
	.bg-why-orchid{ background-size: auto; background-position: 0;}
	.head-why-orchid-dis{ text-align: center;}
	.flexWhy{ width: 100%;}
}

/*how to*/
.bg-how-to{ background: url(../images/bg-howto.jpg) no-repeat top center; background-size: cover; max-height: 100vh;}
.gridHow{ display: grid; grid-template-columns: repeat(6, 1fr); grid-gap: 15px;}
.head-how-to{ margin: 30px 0; text-align: center;}
.head-how-to h2{ font-size: var(--font40Head); color: var(--color-violet);}

.bg-small-how-to{ background: var(--color-white); box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.5); text-align: center; 
	padding: 15px; min-height: 100%;}
.pic-how-to{ margin-bottom: 20px;}
.pic-how-to img{ max-width: 100%;}

.text-how-to h2{ font-size: var(--font24); font-weight: bold; margin-bottom: 10px;}
.text-how-to h6{ font-size: var(--font16); text-align: left;}

@media (max-width: 991px){
	.gridHow{ overflow-x: scroll; padding: 0 15px 30px;}
	.bg-small-how-to{ min-width: 180px;}
}

/* banner 300*300 */
.gridBanner300{ display: grid; grid-template-columns: repeat(4, 1fr); grid-gap: 15px; margin: 30px 0;}
.borderBanner{ border: 1px solid var(--color-light-gray);}
.borderBanner a{ display: block;}
.borderBanner img{ max-width: 100%;}

@media (max-width: 768px){
	.gridBanner300{ grid-template-columns: repeat(2, 1fr);}
}

/*recruitment expert*/
.box-expert{ margin-bottom: 20px;}
.head-expert{ margin-bottom: 20px;}
.head-expert h2{ color: var(--color-violet); font-size: var(--font40Head);}
.text-expert h6{ font-size: var(--font16);}

.carousel-gallery { margin: 0; padding: 0;}
.carousel-gallery .swiper-slide { display: block; width: 100%; height: 250px; border-radius: 4px; overflow: hidden; position: relative; 
	-webkit-box-shadow: 3px 2px 20px 0px rgba(0, 0, 0, 0.2); -moz-box-shadow: 3px 2px 20px 0px rgba(0, 0, 0, 0.2); box-shadow: 3px 2px 20px 0px rgba(0, 0, 0, 0.2);}
.carousel-gallery .swiper-slide:hover .image .overlay { opacity: 1;}
.carousel-gallery .swiper-slide .image { width: 100%; height: 100%; background-size: cover; background-position: center center;}
.carousel-gallery .swiper-slide .image .overlay { width: 100%; height: 100%; background-color: rgba(20, 20, 20, 0.8); text-align: center; opacity: 0; 
	-webkit-transition: all .2s linear; -o-transition: all .2s linear;transition: all .2s linear;}
.carousel-gallery .swiper-slide .image .overlay em { color: var(--color-white); font-size: var(--font24); position: relative; 
	top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%);
  	-o-transform: translateY(-50%); transform: translateY(-50%); display: inline-block;}
.carousel-gallery .swiper-pagination { position: relative; bottom: auto; text-align: center; margin-top: 25px;}
.carousel-gallery .swiper-pagination .swiper-pagination-bullet { -webkit-transition: all .2s linear; -o-transition: all .2s linear; transition: all .2s linear;}
.carousel-gallery .swiper-pagination .swiper-pagination-bullet:hover { opacity: .7;}
.carousel-gallery .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active { background-color: var(--color-violet); transform: scale(1.1, 1.1);}

/*recruitment expert หากใส่ลิงค์ค่อยมาใช้*/
/*
.carousel-gallery { margin: 0; padding: 0;}
.carousel-gallery .swiper-slide a { display: block; width: 100%; height: 200px; border-radius: 4px; overflow: hidden; position: relative; 
	-webkit-box-shadow: 3px 2px 20px 0px rgba(0, 0, 0, 0.2); -moz-box-shadow: 3px 2px 20px 0px rgba(0, 0, 0, 0.2); box-shadow: 3px 2px 20px 0px rgba(0, 0, 0, 0.2);}
.carousel-gallery .swiper-slide a:hover .image .overlay { opacity: 1;}
.carousel-gallery .swiper-slide a .image { width: 100%; height: 100%; background-size: cover; background-position: center center;}
.carousel-gallery .swiper-slide a .image .overlay { width: 100%; height: 100%; background-color: rgba(20, 20, 20, 0.8); text-align: center; opacity: 0; 
	-webkit-transition: all .2s linear; -o-transition: all .2s linear;transition: all .2s linear;}
.carousel-gallery .swiper-slide a .image .overlay em { color: #fff; font-size: 26px; position: relative; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%);
  	-o-transform: translateY(-50%); transform: translateY(-50%); display: inline-block;}
.carousel-gallery .swiper-pagination { position: relative; bottom: auto; text-align: center; margin-top: 25px;}
.carousel-gallery .swiper-pagination .swiper-pagination-bullet { -webkit-transition: all .2s linear; -o-transition: all .2s linear; transition: all .2s linear;}
.carousel-gallery .swiper-pagination .swiper-pagination-bullet:hover { opacity: .7;}
.carousel-gallery .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active { background-color: #d63031; transform: scale(1.1, 1.1);}
*/

@media (max-width: 768px){
	.head-expert{ text-align: center;}
}

/*โลโก้ partner*/
.logo-partner{ margin: 30px 0; border-bottom: 1px solid var(--color-light-gray); padding-bottom: 15px;}
.logo-partner h2{ font-size: var(--font40Head); color: var(--color-violet); margin-bottom: 30px;}

/* .swiper-button-next-1, .swiper-button-prev-1{ top: 35%;}
.swiper-button-next-1:focus, .swiper-button-prev-1:focus{ outline: none;}
.swiper-container-1 { margin: 0 auto; position: relative; overflow: hidden; list-style: none; padding: 0; z-index: 1;}
.swiper-slide { text-align: center; font-size: 18px; display: flex; align-items: center; justify-content: center;}
.swiper-container-1 .swiper-pagination { position: relative; bottom: auto; text-align: center; margin-top: 25px;}
.swiper-container-1 .swiper-pagination .swiper-pagination-bullet { transition: all .2s linear;}
.swiper-container-1 .swiper-pagination .swiper-pagination-bullet:hover { opacity: .7;}
.swiper-container-1 .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active { background-color: var(--color-violet); 
	transform: scale(1.1, 1.1);} */

.gridLogo{ display: grid; grid-template-columns: repeat(7, 1fr); grid-gap: 15px; padding-bottom: 30px;}
.gridLogo figure{ border: 1px solid var(--color-light-gray); border-radius: 10px; display: flex; align-items: center; justify-content: center;}
.gridLogo a{ border: 1px solid var(--color-light-gray); border-radius: 10px; display: flex; align-items: center; justify-content: center;}
.gridLogo img{ max-width: 100%; height: 140px; object-fit: scale-down; padding: 10px;}

@media (max-width: 991px){
	.gridLogo{ overflow-x: scroll;}
	.gridLogo figure{ min-width: 140px;}
}

/* เครือข่ายความร่วมมือ */
.swiper-slide img { max-width: 120px;}
.networkCooperation{ margin: 0 0 30px; border-bottom: 1px solid var(--color-light-gray); padding-bottom: 15px;}
.networkCooperation h2{ font-size: var(--font40Head); color: var(--color-violet); margin-bottom: 30px;}

.swiper-button-next-2, .swiper-button-prev-2{ top: 35%;}
.swiper-button-next-2:focus, .swiper-button-prev-2:focus{ outline: none;}
.swiper-container-2 { margin: 0 auto; position: relative; overflow: hidden; list-style: none; padding: 0; z-index: 1;}
.swiper-slide { text-align: center; font-size: 18px; display: flex; align-items: center; justify-content: center;}
.swiper-container-2 .swiper-pagination { position: relative; bottom: auto; text-align: center; margin-top: 25px;}
.swiper-container-2 .swiper-pagination .swiper-pagination-bullet { transition: all .2s linear;}
.swiper-container-2 .swiper-pagination .swiper-pagination-bullet:hover { opacity: .7;}
.swiper-container-2 .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active { background-color: var(--color-violet); 
	transform: scale(1.1, 1.1);}

/*เรซูเม่ (ตามสาขาอาชีพ )*/
/* .headCareerWork{ min-height: 100%;} */
.headCareerWork h2{ font-size: var(--font20); margin-bottom: 15px; color: var(--color-pink);}
.head-career-field{ margin-bottom: 30px;}
.head-career-field h2{ font-size: var(--font40Head); color: var(--color-violet);}
.gridJob{ display: grid; grid-template-columns: repeat(4, 1fr); grid-gap: 15px;}
.borderCareer{ margin-bottom: 30px; border-bottom: 1px solid var(--color-light-gray); padding-bottom: 30px;}

.bgGridJob{ background: var(--color-lighten-gray); padding: 15px; border-radius: 10px; height: 500px;}
a.flexJobCareer{ display: flex; align-items: center; justify-content: space-between; border-bottom: 1px dashed var(--color-light-gray);
	padding-bottom: 15px; margin-bottom: 15px; color: var(--color-black); text-decoration: none;}
a.flexJobCareer:hover{ color: var(--color-pink);}

.jobCareerWork{ display: flex; flex-direction: column;}
.jobCareerWork h6{ font-size: var(--font16); font-weight: 900;}
.jobCareerWork p{ font-size: var(--font16); color: var(--color-gray);}

@media (max-width: 991px){
	.gridJob{ overflow-x: scroll; padding-bottom: 15px;}
	.bgGridJob{ min-width: 250px;}
}

/* ตำแหน่งงานว่าง */
.positionWork{ display: flex; align-items: center; justify-content: space-between; margin-bottom: 30px;}
.positionWork h2{ font-size: var(--font40Head); color: var(--color-violet);}
.positionWork h6{ font-size: var(--font24);}

.gridPosition{ display: grid; grid-template-columns: repeat(4, 1fr); grid-gap: 15px;}
.bgGridPosition{ background: var(--color-lighten-gray); padding: 15px; border-radius: 10px;}
.cardPosition{ background: transparent; border: 0; border-bottom: 1px dashed var(--color-light-gray) !important; margin-bottom: 15px; padding-bottom: 15px;}

.flexPosition{ display: flex; align-items: center; justify-content: space-between; width: 100%; border: 0; padding: 0; text-align: left;
	background: transparent; transition: 0.5s ease-in-out;}
.flexPosition:focus{ outline: none;}
.flexPosition:hover{ color: var(--color-pink);}
.namePosition h6{ font-size: var(--font16); font-weight: 900;}
.namePosition p{ font-size: var(--font16); color: var(--color-gray);}

.cardBodyPosition{ background: var(--color-white);}
.flexCol{ margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px dashed var(--color-light-gray); display: flex; flex-direction: column;}
a.inBodyPosition{ display: flex; align-items: center; justify-content: space-between; color: var(--color-violet);
	text-decoration: none;}
a.inBodyPosition p{ font-size: var(--font16);}
a.inBodyPosition p:first-child{ font-weight: 900;}
a.inBodyPosition:hover{ color: var(--color-pink);}

@media (max-width: 991px){
	.gridPosition{ overflow-x: scroll; padding-bottom: 15px;}
	.bgGridPosition{ min-width: 300px;}
}

/*blog*/
.bg-blog{ background: var(--color-lighten-gray);}
.box-blog{ overflow: hidden;}
.flexBlog{ display: flex; align-items: center; justify-content: space-between; margin: 30px 0;}
.flexBlog h2{ font-size: var(--font40Head); color: var(--color-violet);}
.flexBlog h6{ font-size: var(--font20);}
.flexBlog a{ display: inline-block; color: var(--color-white); background: var(--color-gradient-violet); text-align: center; padding: 10px 15px;
	border-radius: 50px; text-decoration: none;}
.flexBlog a::before{ border-radius: 50px; background: var(--color-gradient-pink);}
.flexBlog a:hover::before{ opacity: 1;}

.gridContent{ display: grid; grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); grid-gap: 15px; margin-bottom: 30px;}
a.box-blog{ display: flex; flex-direction: column; overflow: hidden; text-decoration: none; transition: 0.5s ease-in-out; 
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); background: var(--color-white);}
a.box-blog img{ transition: 0.5s ease-in-out;}
a.box-blog:hover img{ transform: scale(1.1);}

@media (max-width:576px){
	.gridContent{ grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));}
}

.text-blog{ position: relative; background: var(--color-white); padding: 15px;}
.text-blog h2{ font-size: var(--font20); font-weight: 900; color: var(--color-black);}
.text-blog h6{ font-size: var(--font16); color: var(--color-black);}
.text-blog figcaption{ margin-bottom: 15px;}

.triangle { display: inline-block; margin: 0 5px; vertical-align: middle; position: absolute; top: -20px; left: 0; right: 0; margin: 0 auto; 
	transition: 0.5s ease-in-out;}
.triangle-4 { width: 20px; height: 20px; border-bottom: solid 15px rgb(255,255,255); border-left: solid 15px transparent; border-right: solid 15px transparent;}

.read-blog{ margin-bottom: 10px; text-align: right;}
.read-blog h6{ background: var(--color-pink); color: var(--color-white); display: inline-block; padding: 5px 10px; border-radius: 50px; 
	text-decoration: none; font-size: var(--font14); transition: 0.5s ease-in-out;}
.read-blog h6:hover{ transform: scale(1.05);}

/*footer*/
.bgKeyword{ background: var(--color-lighten-gray);}
.gridKeyword{ display: grid; grid-template-columns: 1fr 1fr; grid-gap: 30px 15px; margin: 30px 0;}
.bgAddressOrchidJob{ background: var(--color-light-gray);}
.gridcompany{ display: grid; grid-template-columns: 1fr 1fr; grid-gap: 15px; margin-bottom: 15px; padding: 30px 0;}
.textBold{ font-weight: 900;}

.flexKeyWord{ display: flex; flex-direction: column;}
.flexKeyWord h2{ font-size: var(--font24); color: var(--color-violet); margin-bottom: 15px; font-weight: 900;}
.keyWord{ display: grid; grid-template-columns: 1fr 1fr; grid-gap: 0 15px;}
.keyWord p{ font-size: var(--font14);}
.keyWord a{ color: var(--color-black); display: block; text-decoration: none;}
.keyWord a:hover{ color: var(--color-pink);}

.flexKeySearchWork{ display: flex; flex-direction: column; margin-bottom: 30px;}
.flexKeySearchWork h2{ font-size: var(--font24); color: var(--color-violet); margin-bottom: 15px; font-weight: 900;}
.gridKeySearchWork{ display: grid; grid-template-columns: repeat(4, 1fr); grid-gap: 0 15px;}
.gridKeySearchWork a{ color: var(--color-black); text-decoration: none; font-size: var(--font14);}
.gridKeySearchWork a:hover{ color: var(--color-pink);}

@media (max-width: 768px){
	.gridKeySearchWork{ grid-template-columns: 1fr 1fr;}
}

.footer a{ display: block; margin-bottom: 15px;}
.footer img{ max-width: 250px;}
.footer h6{ font-size: var(--font14); color: var(--color-black);}
.footer > h6{ margin: 15px 0;}
.service-cus{ color: var(--color-violet);}

.gridListCompany{ display: grid; grid-template-columns: 1fr 1fr; grid-gap: 15px;}

.flexListCompany{ display: flex; flex-direction: column;}
.flexListCompany h2{ font-size: var(--font20); color: var(--color-violet); margin-bottom: 15px; font-weight: 900;}
.flexListCompany ul{ display: flex; flex-direction: column; margin: 0; padding: 0; list-style: none;}
.flexListCompany li{ margin-bottom: 10px;}
.flexListCompany a{ text-decoration: none; color: var(--color-black); display: inline-block; font-size: var(--font14);}
.flexListCompany a:hover{ color: var(--color-pink);}

.social ul{ margin: 0; padding: 0; list-style: none; display: flex; flex-wrap: wrap;}
.social ul li{ margin: 0 10px 10px 0;}
.social ul li a{ width: 50px; height: 50px; display: block;}
.social ul li a.facebook{ background: url(../images/social-07.svg) no-repeat; background-size: cover;}
.social ul li a.line{ background: url(../images/social-08.svg) no-repeat; background-size: cover;}
.social ul li a.instragram{ background: url(../images/social-09.svg) no-repeat; background-size: cover;}
.social ul li a.google{ background: url(../images/social-10.svg) no-repeat; background-size: cover;}
.social ul li a.skype{ background: url(../images/social-11.svg) no-repeat; background-size: cover;}
.social ul li a.youtube{ background: url(../images/social-12.svg) no-repeat; background-size: cover;}

.social ul li a.facebook:hover{ background: url(../images/social-13.svg) no-repeat; background-size: cover;}
.social ul li a.line:hover{ background: url(../images/social-14.svg) no-repeat; background-size: cover;}
.social ul li a.instragram:hover{ background: url(../images/social-15.svg) no-repeat; background-size: cover;}
.social ul li a.google:hover{ background: url(../images/social-16.svg) no-repeat; background-size: cover;}
.social ul li a.skype:hover{ background: url(../images/social-17.svg) no-repeat; background-size: cover;}
.social ul li a.youtube:hover{ background: url(../images/social-18.svg) no-repeat; background-size: cover;}

.boldtact{ font-weight: 900;}

@media (max-width: 991px){
	.gridKeyword{ border-bottom: 0; padding-bottom: 0;}
	.gridKeyword, .gridcompany{ grid-template-columns: 1fr;}
	.flexListCompany ul{ flex-direction: inherit; flex-wrap: wrap;}
	.flexListCompany li{ margin-right: 10px;}
}

/* copyright */
.bg-copyright{ background: var(--color-gradient-violet); padding: 15px;}
.copyright{ text-align: center;}
.copyright h6{ font-size: var(--font14); color: var(--color-white);}

.active-search{ color: #d40101;}

.orchid-pagination{ text-align: center; font-size: var(--font16); margin-bottom: 15px;}
.orchid-navigation{ display: inline-block; text-align: center;}
.page-link{ color: #412e6e;}
.page-link:hover { color: var(--color-white); background: var(--color-violet); border-color: var(--color-violet);}
.page-item .active{ color: var(--color-white); background: var(--color-violet); border-color: var(--color-violet);}

@media (max-width: 576px){
	.orchid-pagination{ font-size: var(--font14);}
}

