:root{
    --font14: 1.4rem;
    --font16: 1.6rem;
    --font18: 1.8rem;
    --font20: 2rem;
    --font24: 2.4rem;
    --font28: 2.8rem;
    --font40Head: 4rem;
    --font60Head: 6rem;

    --color-violet: #412e6e;
    --color-violet-dark: #2a1b4e;
    --color-pink: #b9467d;
    --color-black: #333;
    --color-blue: #1641E3;
    --color-green: #01C436;
    --color-red: #d40101;
    --color-orange: #fcac02;
    --color-gray: #555;
    --color-light-gray: #e5e6eb;
    --color-lighten-gray: #f4f4f8;
    --color-lighting-gray: #fdfdfd;
    --color-dark-gray: #bfbfbf;
    --color-white: #fff;
    --color-gradient-violet: linear-gradient(to bottom right, #4389a2 0%, #5c258d 100%);
    --color-gradient-violeted: linear-gradient(to bottom right, #5c258d 0%, #5c258d 100%);
    --color-gradient-pink: linear-gradient(to bottom right, #b9467d 0%, #8e1951 100%);
}

@media (max-width:576px){
	:root{
		--font14: 1.4rem;
        --font16: 1.4rem;
        --font18: 1.6rem;
        --font20: 1.6rem;
        --font24: 2rem;
        --font28: 2.4rem;
        --font40Head: 2.5rem;
        --font60Head: 2.5rem;
	}
}