.calC{ margin: 0 calc(-50vw + 50%);}

.bgAbout::before{ content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
	background: rgba(92, 37, 141, 0.5);}
.bgAbout{ background: url(../images/about.jpg) no-repeat top center; background-size: 
	cover; max-height: 100vh; width: 100vw; max-width: 100vw; position: relative; margin-top: 70px;}
.bgAbout h1{ font-size: var(--font60Head); font-weight: 900; color: var(--color-white); margin: 30vh 0; text-align: center; 
	letter-spacing: 20px;}

.gridAbout{ display: grid; grid-template-columns: 1fr 1fr; grid-gap: 15px; align-items: center; margin: 40px 0;}
.gridAboutDown{ display: grid; grid-template-columns: 1fr 1fr; grid-gap: 15px; align-items: center; margin-bottom: 40px;}
.about h2{ font-size: var(--font28); color: var(--color-violet); margin-bottom: 15px;}
.about h6{ font-size: var(--font16); margin-bottom: 30px;}
.about span{ color: var(--color-pink); font-size: var(--font18);}

.aboutCenter {margin: 40px 0;}
.aboutCenter h6{ text-align: center; font-size: var(--font24); color: var(--color-pink); font-weight: 900;}

@media (max-width: 991px){
	.gridAbout, .gridAboutDown{ grid-template-columns: 1fr;}
}