.calC{ margin: 0 calc(-50vw + 50%);}
.containerContact{ max-width: 640px;}

.bgContact::before{ content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
	background: rgba(92, 37, 141, 0.5);}
.bgContact{ background: url(../images/contact.jpg) no-repeat top center; background-size: 
	cover; max-height: 100vh; width: 100vw; max-width: 100vw; position: relative; margin-top: 70px;}
.bgContact h1{ font-size: var(--font60Head); font-weight: 900; color: var(--color-white); margin: 30vh 0; text-align: center; 
	letter-spacing: 20px;}

.gridMap{ display: grid; grid-template-columns: 0.5fr 1fr; align-items: center; grid-gap: 15px; margin: 40px 0;}
.join h2{ font-size: var(--font40Head); text-align: center; color: var(--color-violet);}
.join h6{ font-size: var(--font16); margin-bottom: 30px; text-align: center;}
.join span{ color: var(--color-pink); font-size: var(--font18);}

@media (max-width:991px){
	.gridMap{ grid-template-columns: 1fr;}
}

.bgFormContact{ background: #412e6e; padding: 40px 15px; margin-bottom: 30px;}
.headForm{ text-align: center; margin-bottom: 40px;}
.headForm h2{ font-size: var(--font40Head); color: var(--color-pink); margin-bottom: 10px;}
.headForm h6{ font-size: var(--font18); color: var(--color-white);}

.flexForm{ display: grid; grid-template-columns: 1fr 1fr; grid-gap: 0 15px;}
.formGroup{ margin-bottom: 15px;}
.labelContact{ font-size: var(--font18); color: var(--color-white);}

.formControlContact{ padding: 6px 12px; font-size:  var(--font16); color: var(--color-gray); height: 34px;}
.formGroup1, .formGroup6, .formGroup9{ grid-column: 1 / span3;}
.formGroup3, .formGroup5, .formGroup8{ grid-column: 2 / span1;}

.gridCapcha{ display: grid; grid-template-columns: 1fr 1fr; grid-gap: 15px;}
.formAttach h6, .formCaptcha h6{ font-size: var(--font16); color: var(--color-white); 
	text-transform: uppercase; margin-bottom: 0.5rem;}
.labelAttach, .captcha{ padding: 6px; background: var(--color-pink); display: table; color: var(--color-white); font-weight: 100; 
	border-radius: 4px; cursor: pointer; margin-bottom: 0; width: 100%; 
	text-align: center; height: 34px; transition: 0.5s ease-in-out;}
.labelAttach:hover{ background: var(--color-white); color: var(--color-violet);}
.labelAttach input[type="file"] { display: none;}

.pushSubmit{ display: flex; flex-direction: column; align-items: center; justify-content: center;}
.pushSubmit button{ background: var(--color-white); color: var(--color-violet); border: 1px solid var(--color-violet); 
	border-radius: 50px; padding: 5px 30px; cursor: pointer; font-size: var(--font18); transition: 0.5s ease-in-out;}
.pushSubmit button:hover{ background: var(--color-pink); color: var(--color-white); transform: scale(1.05);}

@media (max-width:768px){
	.flexForm{ grid-template-columns: 1fr;}
	.formGroup1, .formGroup3, .formGroup5, .formGroup6, .formGroup8, .formGroup9{ grid-column: inherit;}
}
